.content-box {
  height: fit-content;
  background-color: var(--main-bg-color2);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-name-box {
  display: flex;
  padding: 1rem 0;
  gap: 1.5rem;
}
.image-box {
  height: 5rem;
  width: 5rem;
}
#user-image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.user-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
#user-name {
  font-size: 1rem;
}
#user-nickname {
  color: var(--button-color);
}

#user-joined {
  font-size: 1rem;
}

#bio {
  font-size: 1rem;
  line-height: 1.5rem;
}

.info-profile-box {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-bg-color1);
  padding: 1rem;
  border-radius: 1rem;
}

.info-title {
  color: var(--text-color2);
}

#number-repos,
#number-followers,
#number-following {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.contacts-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.contacts-box div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

img {
  width: 25px;
  height: 25px;
}
